/Src/DBPractice/bin
/Src/WebPrac/bin
/Src/PMS.Entities/bin
/Src/PMS.DAL/bin
/Src/PMS.BAL/bin
/Src/DBPractice/obj
/Src/WebPrac/obj
/Src/PMS.Entities/obj
/Src/PMS.DAL/obj
/Src/PMS.BAL/obj
/Src/packages

/Src/DBProj/DBProj.sqlproj.user
/Src/DBProj/bin
/Src/DBProj/obj
/Src/DBProj/DBProj.jfm
/Src/DBProj/DBProj.dbmdl

/Src/.vs
/.vs
