
@{
    ViewBag.Title = "Distributors";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}
@section scripts
{
    <script>
        $(document).ready(function () {
            var dataToSend = {};
            var settings = {
                type: "POST",
                dataType: "json",
                url: "/Home/displayDistributors",
                data: dataToSend,
                success: myMainFunction,
                error: OnError
            }
            $.ajax(settings);
            console.log("sent to load");
            return false;

        });
        function OnError() {
            console.log("err");
            alert("error occured during loading");
        }
        function myMainFunction(r) {
            if (r) {
                for (var i = 0; i < r.length; i++)
                {
                    var obj = r[i];
                    var tr = $("<tr></tr>").addClass('Myrow');
                    var td1 = $("<td></td>").addClass("cellCountry").html(obj.Dcountry);
                    var td2 = $("<td></td>").addClass("cellContact").html(obj.Daddress + "<br>" +obj.Dwebsite + "<br>" + obj.Dphone);
                    tr.append(td1);
                    tr.append(td2);
                    $(".MyTable").append(tr);
                }
                var dataToSend = {};
                var settings = {
                    type: "GET",
                    dataType: "json",
                    url: "/Home/IsAdmin",
                    data: dataToSend,
                    success: myFunction,
                    error: OnError
                }
                 $.ajax(settings);
                console.log("sent for isAdmin");
            }
            else {
                alert("exception");
            }
        }
        function myFunction(r) {
            if (r.admin == true) {
                var btn = $("<button></button>").addClass('myBtn').text("Add New Distributor");
                $(".distContainer").append(btn);
                $('.myBtn').click(function () {
                    location.href = "@Url.Content("~/Home/InsertDistributors")";
                    console.log("sent for insertion");
                });
            }
        }
    </script>
    }
    <style>
        #heading{
           text-align:center;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:36px;
            margin-top:6px;
        }
        .distContainer {
            
            margin-top: 2px;
            border: 2px solid darkslateblue;
            background-color: aliceblue;
        }
        .MyTable {
            margin-left: auto;
            margin-right: auto;

        }
        .cellCountry{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding:20px;
            font-size:20px;
        }
        .cellContact{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding:20px;
            font-size:20px;
        }
        .Myrow {
            
            border-bottom: 2px outset darkslateblue;
            border-spacing: 5px;
        }
        .myBtn {
            background-color: cadetblue;
            border: 2px solid darkslateblue;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left:auto;
            margin-right:auto;
            float: right;
        }
     </style>
    <h2 id="heading">Distributors</h2>
    <div style="padding-left:15%; padding-right:15%; padding-top:5%">
        
        <div class="distContainer" >
            <table class="MyTable">

                <tr class="Myrow">
                    <th   style="padding:20px ; font-size:30px">Country </th>
                    <th   style="padding:20px; font-size:30px"> Contact </th>
                </tr>
                

            </table>
            
        </div>
    </div>
