
@{
    ViewBag.Title = "NormalUser";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}


<div class="text-center" >
    <h3>Trending Products</h3>
    <p>module for trending products will go here</p>
</div>
