@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="main-div">
    <form action=@Url.Content("~/User/UpdateProfile") method="POST">
        <img src=@Url.Content("~/Images/profile.png") class="avatar" id="uploadPreview">

        <input id="uploadImage" type="file" name="myPhoto" onchange="PreviewImage();" style="opacity:0; padding:0; " />
        <script type="text/javascript">

            function PreviewImage() {
                var oFReader = new FileReader();
                oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("uploadPreview").src = oFREvent.target.result;
                };
            };

        </script>
        <h4>Update Profile</h4>
        <div class="input-div one">
            <div class="i">
                <i class="fa fa-venus"></i>
            </div>
            <div>
                <h5>Username</h5>
                <input class="input" type="text" required name="uname" id="username" maxlength="40" value="@ViewBag.Name" />
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fa fa-user"></i>
            </div>
            <div>
                <h5>Login ID</h5>
                <input class="input" type="text" required name="lid" id="login" maxlength="40" value="@ViewBag.Login" />
            </div>
        </div>
        <div class="input-div two">
            <div class="i">
                <i class="fa fa-lock"></i>
            </div>
            <div>
                <h5>Password</h5>
                <input class="input" id="password" type="password" name="password" maxlength="40" required />
            </div>
        </div>
        <p style="color:red;" id="pid"></p>
        <input type="button" id="updatebtn" class="btn" value="Update" name="updatebtn">
        <a href=@Url.Content("~/Home/Admin") style="text-decoration:none">
            <input type="button" class="btn" value="Cancel" name="Cancel">
        </a>

    </form>

</div>


<script>
    $(document).ready(function () {
        const inputs = document.querySelectorAll('.input');
        inputs.forEach(input => {
            if (input.value != "") {
                let parent = input.parentNode.parentNode;
                parent.classList.add('focus');
            }

        })

            $("#uploadPreview").on("click", function (e) {
            e.preventDefault();
                $("#uploadImage").trigger('click');

        });
        MyApp.Signup();
    });

    $("#updatebtn").click(function () {
        $("#pid").text("");
        var name = $("#username").val();
        var pass = $("#password").val();
        var login = $("#login").val();
        if (name.length == 0 || pass.length == 0 || login.length == 0) {
            $("#pid").text("Please Fill in All the Fields...");
        }
        else {
            var settings = {
                type: "POST",
                dataType: "json",
                url: "UpdateProfile",
                data: { "Name": name, "Password": pass, "Login": login },
                success: function (response) {
                    if (response.success == 1) {
                        alert(response.result);
                        window.location = '/Home/Admin';
                    }
                    else if (response.success == 2) {
                        $("#pid").text(response.result);
                        $("#password").val("");

                    }
                    else {
                        alert(response.result);
                    }
                },
                failure: function () {
                    alert("Update Ajax Call Failed");
                }
            }
            $.ajax(settings);
        }

    })
</script>












