
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SampleLayout</title>
    <script>
        window.BasePath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts",false)
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
